<div class="main-wrapper operations-wrapper">
    <h1 class="main-header expenses-header h3">Расходы</h1>
    <div class="cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Еда</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <a href="javascript:void(0)" type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Жилье</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <a href="javascript:void(0)" type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Здоровье</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <a href="javascript:void(0)" type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Кафе</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Авто</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Одежда</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Развлечния</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Счета</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Спорт</h5>
                <a href="/expenses-edit" type="button" class="operations-btn btn btn-primary">Редактировать</a>
                <button type="button" class="operations-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Удалить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body card-body-new">
                <a href="/expenses-create" type="button">+</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Вы действительно хотите удалить категорию?</p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-success" data-bs-dismiss="modal">Да, удалить</a>
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-danger" data-bs-dismiss="modal">Не удалять</a>
                </div>
            </div>
        </div>
    </div>
</div>